.container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    text-align: center;
}

.subscription {
    background: url("../images/background-movies-series.png") no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .subscriptionPlans {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 40px 0;
    perspective: 2000px;
    perspective-origin: top;
  }
  
  .subscriptionCard {
    background: var(--card-bg-color);
    padding: 40px 60px;
    border-radius: 8px;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 1s ease-in-out;
  }
  
  .subscriptionPlans:has(.subscriptionCard:nth-child(1):hover)
    .subscriptionCard:nth-child(2) {
    transform: rotateY(-45deg);
  }
  
  .subscriptionPlans:has(.subscriptionCard:nth-child(2):hover)
    .subscriptionCard:nth-child(1) {
    transform: rotateY(45deg);
  }
  
  .subscriptionDescription {
    text-align: left;
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 14px;
    padding-left: 14px;
  }
  
  .subscriptionPrice{
    font-size: 2rem;
    font-family: 'raleway', sans-serif;
    color: var(--secondary-color);
    font-weight: bold;
  }
  
  .subscriptionPrice .textSmall{
    color: var(--text-color);
  }
  
  .subscriptionPlan{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 16px;
  }

  .contents{
    margin: 100px 0 auto;
  }
  
  .contentsContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;  
  }
  
  .contentsCard{
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid transparent;
    background-position: center;
    transition: 0.8s, background 0.8, border 1s;
  }
  
  .contentsCard:hover{
    transform: scale(1.0);
    border: 2px solid var(--tertiary-color);
  }
  
  .contentsCard:hover .contentsImage{
    opacity: 0;
  }
  
  .contentsImage{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 2s;
  }
  
  .contentsCard:nth-child(1):hover{
    background-image: url("../assets/img/hbo-hover_0.webp");
  }
  
  .contentsCard:nth-child(2):hover{
    background-image: url("../assets/img/MAX-Hover.webp");
  }
  
  .contentsCard:nth-child(3):hover{
    background-image: url("../assets/img/DC-Hover.webp");
  }
  
  .contentsCard:nth-child(4):hover{
    background-image: url("../assets/img/WB-Hover.webp");
  }
  
  .contentsCard:nth-child(5):hover{
    background-image: url("../assets/img/CN-Hover.png");
  }
  
  .contentsCard:nth-child(6):hover{
    background-image: url("../assets/img/UCL-Hover.webp");
  }