.footerLink {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: var(--link-color);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 14px;
    letter-spacing: 2px;
    transition: color 0.5s;
    font-size: 0.875rem;
  }
  
  .footerLink:hover {
    color: var(--text-color);
  }
  
  .footer-legal {
    font-size: 0.75rem;
    margin: 16px 0;
    color: var(--link-color);
    display: flex;
    
  }
  
  .footerSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
  }
  
  .footerLinks{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 80px;
  }

  .footerLegalp{
    display: flex;
    justify-content: center;
  }